.rotation-0{
    transform: rotate(0);
    transition: transform 1s;
}
.rotation-left-90{
    transform: rotate(-90deg);
    transition: transform 1s;
}
.rotation-right-90{
    transform: rotate(90deg);
    transition: transform 1s;
}
.rotation-right-180{
    transform: rotate(180deg);
    transition: transform 1s;
}
.rotation-left-180{
    transform: rotate(-180deg);
    transition: transform 1s;
}
.circle-right{
    right: -12%;
    cursor: pointer;
}
.circle-left{
    left: -12%;
    cursor: pointer;
}
.circle-top{
    top: -3%;
    cursor: pointer;
}
.circle-bottom{
    bottom: -3%;
    cursor: pointer;
}
.text-top-left{
    transform: rotate(-180deg);
    transition: transform 1s;
}
.text-top-right{
    transform: rotate(180deg);
    transition: transform 1s;
}
.text-left{
    transform: rotate(-90deg);
    transition: transform 1s;
}
.text-right{
    transform: rotate(90deg);
    transition: transform 1s; 
}